<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sk.mall.dao.AddressMapper">
    <resultMap id="BaseResultMap" type="com.sk.mall.entity.Address">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="userId" jdbcType="INTEGER" property="userId"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="county" jdbcType="VARCHAR" property="county"/>
        <result column="detailAddr" jdbcType="VARCHAR" property="detailAddress"/>
        <result column="conName" jdbcType="VARCHAR" property="conName"/>
        <result column="conTel" jdbcType="VARCHAR" property="contel"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, userId, province, city, county, detailAddr, conName, conTel
    </sql>

    <select id="getAllAddressByUserId" resultMap="BaseResultMap">
        select * from address
        <where>
            <if test="userId != null and userId != ''">
                and userId = #{userId}
            </if>
        </where>
        order by userId
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from address
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from address
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insertSelective" parameterType="com.sk.mall.entity.Address">
        insert into address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                userId,
            </if>
            <if test="province != null">
                province,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="county != null">
                county,
            </if>
            <if test="detailAddress != null">
                detailAddr,
            </if>
            <if test="conName != null">
                conName,
            </if>
            <if test="contel != null">
                conTel,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="province != null">
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="county != null">
                #{county,jdbcType=VARCHAR},
            </if>
            <if test="detailAddress != null">
                #{detailAddress,jdbcType=VARCHAR},
            </if>
            <if test="conName != null">
                #{conName,jdbcType=VARCHAR},
            </if>
            <if test="contel != null">
                #{contel,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.sk.mall.entity.Address">
        update address
        <set>
            <if test="userId != null">
                userId = #{userId,jdbcType=INTEGER},
            </if>
            <if test="province != null">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="county != null">
                county = #{county,jdbcType=VARCHAR},
            </if>
            <if test="detailAddress != null">
                detailAddr = #{detailAddress,jdbcType=VARCHAR},
            </if>
            <if test="conName != null">
                conName = #{conName,jdbcType=VARCHAR},
            </if>
            <if test="contel != null">
                conTel = #{contel,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>