<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sk.mall.dao.FavoriteMapper">
    <resultMap id="BaseResultMap" type="com.sk.mall.entity.Favorite">
        <id column="userId" jdbcType="INTEGER" property="userId"/>
        <id column="goodsId" jdbcType="INTEGER" property="goodsId"/>
        <result column="collectTime" jdbcType="TIMESTAMP" property="collectTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        userId, goodsId, collectTime
    </sql>
    <select id="getAllFavorite" parameterType="com.sk.mall.entity.Favorite" resultMap="BaseResultMap">
        select userId, goodsId, collectTime
        from collection
        where userId = ${id}
    </select>

    <select id="selectByPrimaryKey" parameterType="com.sk.mall.entity.Favorite" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from collection
        where userId = #{userid,jdbcType=INTEGER}
        and goodsId = #{goodsid,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="com.sk.mall.entity.Favorite">
        delete
        from collection
        where userId = #{userId,jdbcType=INTEGER}
          and goodsId = #{goodsId,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.sk.mall.entity.Favorite">
        insert into collection (userId, goodsId, collectTime)
        values (#{userId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{collectTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.sk.mall.entity.Favorite">
        insert into collection
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userid != null">
                userId,
            </if>
            <if test="goodsid != null">
                goodsId,
            </if>
            <if test="collecttime != null">
                collectTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userid != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="goodsid != null">
                #{goodsId,jdbcType=INTEGER},
            </if>
            <if test="collecttime != null">
                #{collectTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

</mapper>